.scrollable {
  position: relative;
  overflow: hidden;
}

.scrollable .scroll-frame {
  height: 100%;
  position: relative;
  overflow: scroll;
  width: 100%;
}

.scrollable .scroll-frame::-webkit-scrollbar {
  display: none;
}

.scrollable .scroll-frame .scroll-content {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0px;
}

.scrollable .scrollbar {
  background-color: rgb(114, 114, 114);
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

.scrollable .scrollbar.scrolling {
  opacity: 1;
}

.scrollbar-x {
  bottom: 0px;
  height: 5px;
  left: 0px;
}

.scrollbar-y {
  right: 0px;
  top: 0px;
  width: 5px;
}
